# S3 Bucket Configuration (Leave S3_BUCKET_NAME empty to use local-disk mock mode)
S3_BUCKET_NAME=
AWS_REGION=eu-west-2

# AWS Credentials (Required ONLY for local S3 testing. DO NOT deploy these to AWS Lambda!)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# DigitalOcean Configuration
DIGITALOCEAN_TOKEN=
DIGITALOCEAN_PROJECT_ID=efc7b19b-24a6-4149-bc96-4e90a71cdbd1
DIGITALOCEAN_SSH_KEY_FP=
DIGITALOCEAN_SNAPSHOT_NAME=openfoam-base
DIGITALOCEAN_REGION=lon1
DIGITALOCEAN_SIZE=gd-16vcpu-64gb

# Application Callback Endpoint Resolution (Required in production)
APP_CALLBACK_URL=

