# S3 Bucket Configuration (Leave S3_BUCKET_NAME empty to use local-disk mock mode)
S3_BUCKET_NAME=
AWS_REGION=eu-west-2

# AWS Credentials (Required ONLY for local S3 testing. DO NOT deploy these to AWS Lambda!)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
